In [1]:
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

Mounted at /gdrive

- HTML web scrapping using **BeautifulSoup(!pip3 install bs4) python library**.
- Send an HTTP request to the URL of the webpage you want to access. The server responds to the request by returning the HTML content of the webpage. For this task, we will use a third-party HTTP library for **python-requests(!pip3 install requests)**.
- In order to work with the HTML, we will have to get the HTML as a string. We can easily get HTML data by using get() function in **requests module(!pip3 install requests)**.
- Once the HTML is fetched using requests the next step will be to **parse(!pip3 install html5lib)** the HTML content.

- A really nice thing about the BeautifulSoup library is that it is built on the top of the HTML parsing libraries like **html5lib, lxml, html.parser**, etc. So  BeautifulSoup object and specify the parser library can be created at the same time.

In [21]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
url = "http://www.nepalstock.com/todaysprice"
# Make the request and check object type
r = requests.get(url)
type(r)

#Extract HTML from Response object and print
html = r.text

# Convert to a beautiful soup object
soup = BeautifulSoup(html, "html5lib")

In [12]:
# Verifying tables and their classes
print('Classes of each table:')
for table in soup.find_all('table'):
    print(table.get('class'))

Classes of each table:
['table', 'table-condensed', 'table-hover']

The method read_html returns a list of Dataframes containing HTML elements that satisfy our attribute specifications. In this case, we are looking for a table that includes the classes: 'table', 'table-condensed', 'table-hover'.

In [14]:
# Creating list with all tables
tables = soup.find_all('table')

#  Looking for the table with the classes 'wikitable' and 'sortable'
table = soup.find('table', class_='table table-condensed table-hover')

In [16]:
df_pandas = pd.read_html(url, attrs = {'class': 'table table-condensed table-hover'},  flavor='bs4')#pass inside if need  thousands ='.'
#print(df_pandas)

In [18]:
data = df_pandas[0][1:50]
data

,0,1,2,3,4,5,6,7,8,9
1,S.N.,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.
2,1,10% Sanima Bank Limited Debenture,1,946.00,946.00,946.00,25.00,23650.00,965.30,-19.30
3,2,10.5 % NEPAL INVESTMENT DEBENTURE 2082,1,958.60,958.60,958.60,25.00,23965.00,965.00,-6.40
4,3,8.5% Nepal Investment Bank Debenture 2084,1,850.00,850.00,850.00,35.00,29750.00,850.00,0.00
5,4,Aarambha Chautari Laghubitta Bittiya Sanstha L...,25,909.00,896.00,897.50,734.00,662025.00,909.00,-11.50
6,5,Agricultural Development Bank Limited,139,367.00,363.00,364.90,10347.00,3767210.40,367.00,-2.10
7,6,Ajod Insurance Limited,64,540.60,512.00,525.00,3144.00,1637161.50,530.00,-5.00
8,7,Ankhu Khola Jalvidhyut Company Ltd,170,234.50,225.40,229.00,28945.00,6630448.20,230.00,-1.00
9,8,Api Power Company Ltd.,409,303.00,291.10,293.20,91619.00,26953505.30,301.00,-7.80
10,9,Arun Kabeli Power Ltd.,524,485.00,461.00,467.00,81485.00,38225562.70,479.00,-12.00
11,10,Arun Valley Hydropower Development Co. Ltd.,479,422.00,408.00,411.00,112388.00,46247479.40,416.90,-5.90
12,11,Asha Laghubitta Bittiya Sanstha Ltd,28,1350.00,1270.00,1300.00,493.00,638788.60,1291.00,9.00
13,12,Asian Life Insurance Co. Limited,164,651.70,615.00,620.00,23016.00,14319515.60,627.00,-7.00
14,13,Bank of Kathmandu Ltd.,127,244.60,231.30,238.00,22343.00,5290130.20,236.00,2.00
15,14,Barun Hydropower Co. Ltd.,129,483.00,455.00,477.00,21445.00,10115851.90,476.50,0.50
16,15,Best Finance Company Ltd.,75,399.00,390.90,392.10,8225.00,3238399.10,398.80,-6.70
17,16,Bishal Bazar Company Limited,8,3780.00,3612.00,3681.00,90.00,333672.00,3682.00,-1.00
18,17,Bottlers Nepal (Terai) Limited,24,14377.00,13819.00,14377.00,777.00,10923892.00,14650.00,-273.00
19,18,Buddha Bhumi Nepal Hydropower Company Limited,48,439.00,428.00,439.00,2070.00,895923.00,435.00,4.00
20,19,Butwal Power Company Limited,86,366.00,361.00,363.00,6336.00,2295539.60,365.00,-2.00
21,20,CEDB Hydropower Development Company Limited,68,760.00,725.30,742.00,3277.00,2445415.50,735.00,7.00
22,Page 1/12 12345678910Next›Last»,Page 1/12 12345678910Next›Last»,Page 1/12 12345678910Next›Last»,Page 1/12 12345678910Next›Last»,Page 1/12 12345678910Next›Last»,Page 1/12 12345678910Next›Last»,Page 1/12 12345678910Next›Last»,NaN,NaN,NaN
23,Total Amount Rs.,Total Amount Rs.,1298905590,1298905590,1298905590,1298905590,1298905590,1298905590,1298905590,1298905590
24,Total Quantity,Total Quantity,4140665,4140665,4140665,4140665,4140665,4140665,4140665,4140665
25,Total No of Transactions,Total No of Transactions,21904,21904,21904,21904,21904,21904,21904,21904

In [10]:
data.drop(data.columns[[0]], axis = 1, inplace = True)
data

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,1,2,3,4,5,6,7,8,9
1,Traded Companies,No. Of Transaction,Max Price,Min Price,Closing Price,Traded Shares,Amount,Previous Closing,Difference Rs.
2,10% Sanima Bank Limited Debenture,1,946.00,946.00,946.00,25.00,23650.00,965.30,-19.30
3,10.5 % NEPAL INVESTMENT DEBENTURE 2082,1,958.60,958.60,958.60,25.00,23965.00,965.00,-6.40
4,8.5% Nepal Investment Bank Debenture 2084,1,850.00,850.00,850.00,35.00,29750.00,850.00,0.00
5,Aarambha Chautari Laghubitta Bittiya Sanstha L...,25,909.00,896.00,897.50,734.00,662025.00,909.00,-11.50
6,Agricultural Development Bank Limited,139,367.00,363.00,364.90,10347.00,3767210.40,367.00,-2.10
7,Ajod Insurance Limited,64,540.60,512.00,525.00,3144.00,1637161.50,530.00,-5.00
8,Ankhu Khola Jalvidhyut Company Ltd,170,234.50,225.40,229.00,28945.00,6630448.20,230.00,-1.00
9,Api Power Company Ltd.,409,303.00,291.10,293.20,91619.00,26953505.30,301.00,-7.80
10,Arun Kabeli Power Ltd.,524,485.00,461.00,467.00,81485.00,38225562.70,479.00,-12.00
11,Arun Valley Hydropower Development Co. Ltd.,479,422.00,408.00,411.00,112388.00,46247479.40,416.90,-5.90
12,Asha Laghubitta Bittiya Sanstha Ltd,28,1350.00,1270.00,1300.00,493.00,638788.60,1291.00,9.00
13,Asian Life Insurance Co. Limited,164,651.70,615.00,620.00,23016.00,14319515.60,627.00,-7.00
14,Bank of Kathmandu Ltd.,127,244.60,231.30,238.00,22343.00,5290130.20,236.00,2.00
15,Barun Hydropower Co. Ltd.,129,483.00,455.00,477.00,21445.00,10115851.90,476.50,0.50
16,Best Finance Company Ltd.,75,399.00,390.90,392.10,8225.00,3238399.10,398.80,-6.70
17,Bishal Bazar Company Limited,8,3780.00,3612.00,3681.00,90.00,333672.00,3682.00,-1.00
18,Bottlers Nepal (Terai) Limited,24,14377.00,13819.00,14377.00,777.00,10923892.00,14650.00,-273.00
19,Buddha Bhumi Nepal Hydropower Company Limited,48,439.00,428.00,439.00,2070.00,895923.00,435.00,4.00
20,Butwal Power Company Limited,86,366.00,361.00,363.00,6336.00,2295539.60,365.00,-2.00
21,CEDB Hydropower Development Company Limited,68,760.00,725.30,742.00,3277.00,2445415.50,735.00,7.00

In [ ]:
# saving the dataframe
data.to_csv('nepse.csv')